In [1]:
# import libraries
import os
import evalml
import numpy as np
import pandas as pd

In [2]:
# import titantic dataset
DATA_PATH = "~/Documents/evalml/demos/data/titanic"
titanic_train = pd.read_csv(os.path.join(DATA_PATH, 'train.csv'))
titanic_test = pd.read_csv(os.path.join(DATA_PATH, 'test.csv'))

display(titanic_train.head())
display(titanic_test.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
# Show missing values
display(titanic_train[titanic_train.isnull().any(axis=1)].head())
display(titanic_test[titanic_test.isnull().any(axis=1)].head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# fill missing data
titanic_train["Age"].fillna(titanic_train["Age"].mean(skipna=True), 
                            inplace=True)
titanic_train["Embarked"].fillna(titanic_train["Embarked"].mode()[0], 
                              inplace=True)

titanic_train.drop('Cabin', axis=1, inplace=True)
titanic_train.drop('Name', axis=1, inplace=True)
titanic_train.drop('Ticket', axis=1, inplace=True)
titanic_train.drop('PassengerId', axis=1, inplace=True)


# repeat for test data
titanic_test["Age"].fillna(titanic_test["Age"].mean(skipna=True), 
                            inplace=True)
titanic_test["Embarked"].fillna(titanic_test["Embarked"].mode()[0], 
                              inplace=True)

titanic_test['Fare'].fillna(titanic_test['Fare'].mean(),
                           inplace=True)

titanic_test.drop('Cabin', axis=1, inplace=True)
titanic_test.drop('Name', axis=1, inplace=True)
titanic_test.drop('Ticket', axis=1, inplace=True)
titanic_test.drop('PassengerId', axis=1, inplace=True)

In [5]:
# check if any is NaN
print(titanic_train.isnull().any(axis=1).any())
print(titanic_test.isnull().any(axis=1).any())

False
False

In [6]:
# create encodings
titanic_train = pd.get_dummies(titanic_train, columns=["Pclass"])
titanic_train = pd.get_dummies(titanic_train, columns=["Embarked"])
titanic_train = pd.get_dummies(titanic_train, columns=["Sex"])
titanic_train.drop('Sex_female', axis=1, inplace=True)

titanic_test = pd.get_dummies(titanic_test, columns=["Pclass"])
titanic_test = pd.get_dummies(titanic_test, columns=["Embarked"])
titanic_test = pd.get_dummies(titanic_test, columns=["Sex"])
titanic_test.drop('Sex_female', axis=1, inplace=True)

In [7]:
X_train = titanic_train.drop('Survived', axis=1)
y_train = titanic_train['Survived']

display(X_train.head())

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_male
0,22.0,1,0,7.2500,0,0,1,0,0,1,1
1,38.0,1,0,71.2833,1,0,0,1,0,0,0
2,26.0,0,0,7.9250,0,0,1,0,0,1,0
3,35.0,1,0,53.1000,1,0,0,0,0,1,0
4,35.0,0,0,8.0500,0,0,1,0,0,1,1

In [8]:
X_train, X_holdout, y_train, y_holdout = evalml.preprocessing.split_data(X_train, y_train, test_size=.2)

In [9]:
# use evalml
clf = evalml.AutoClassifier(objective="precision",
                            max_pipelines=50)

In [10]:
# fit using autoclassfier
clf.fit(X_train, y_train)

*****************************
* Beginning pipeline search *
*****************************

Optimizing for Precision. Greater score is better.

Searching up to 50 pipelines. No time limit is set. Set one using max_time parameter.

Possible model types: xgboost, linear_model, random_forest

Testing Random Forest w/ imputation: 100%|██████████| 50/50 [03:39<00:00,  4.39s/it]

✔ Optimization finished

In [11]:
clf.rankings

,id,pipeline_name,score,high_variance_cv,parameters
0,44,XGBoostPipeline,0.802817,False,"{'eta': 0.0881634928804428, 'min_child_weight'..."
1,33,XGBoostPipeline,0.800000,False,"{'eta': 0.35950790057378607, 'min_child_weight..."
2,43,XGBoostPipeline,0.800000,False,"{'eta': 0.2023367474752678, 'min_child_weight'..."
3,41,XGBoostPipeline,0.791667,False,"{'eta': 0.12388813072769381, 'min_child_weight..."
4,36,XGBoostPipeline,0.780822,False,"{'eta': 0.40454228688038185, 'min_child_weight..."
5,10,XGBoostPipeline,0.779221,False,"{'eta': 0.38438170729269994, 'min_child_weight..."
6,28,RFClassificationPipeline,0.777778,False,"{'n_estimators': 761, 'max_depth': 273, 'imput..."
7,27,RFClassificationPipeline,0.777778,False,"{'n_estimators': 760, 'max_depth': 63, 'impute..."
8,46,RFClassificationPipeline,0.777778,False,"{'n_estimators': 740, 'max_depth': 51, 'impute..."
9,20,XGBoostPipeline,0.776316,False,"{'eta': 0.6481718720511973, 'min_child_weight'..."
10,49,RFClassificationPipeline,0.775000,False,"{'n_estimators': 738, 'max_depth': 309, 'imput..."
11,19,RFClassificationPipeline,0.771084,False,"{'n_estimators': 433, 'max_depth': 289, 'imput..."
12,22,RFClassificationPipeline,0.765432,False,"{'n_estimators': 554, 'max_depth': 544, 'imput..."
13,16,RFClassificationPipeline,0.764706,False,"{'n_estimators': 926, 'max_depth': 116, 'imput..."
14,21,XGBoostPipeline,0.756757,False,"{'eta': 0.9786183422327642, 'min_child_weight'..."
15,14,RFClassificationPipeline,0.756098,False,"{'n_estimators': 715, 'max_depth': 487, 'imput..."
16,18,RFClassificationPipeline,0.755814,False,"{'n_estimators': 187, 'max_depth': 756, 'imput..."
17,5,RFClassificationPipeline,0.753086,False,"{'n_estimators': 369, 'max_depth': 10, 'impute..."
18,2,RFClassificationPipeline,0.753086,False,"{'n_estimators': 569, 'max_depth': 630, 'imput..."
19,35,RFClassificationPipeline,0.750000,False,"{'n_estimators': 766, 'max_depth': 307, 'imput..."
20,17,RFClassificationPipeline,0.750000,False,"{'n_estimators': 857, 'max_depth': 432, 'imput..."
21,29,RFClassificationPipeline,0.750000,False,"{'n_estimators': 768, 'max_depth': 256, 'imput..."
22,8,XGBoostPipeline,0.746269,False,"{'eta': 0.5928446182250184, 'min_child_weight'..."
23,45,XGBoostPipeline,0.743902,False,"{'eta': 0.04079758249539712, 'min_child_weight..."
24,47,XGBoostPipeline,0.743902,False,"{'eta': 0.1250646225927924, 'min_child_weight'..."
25,9,RFClassificationPipeline,0.741176,False,"{'n_estimators': 609, 'max_depth': 71, 'impute..."
26,15,RFClassificationPipeline,0.741176,False,"{'n_estimators': 859, 'max_depth': 678, 'imput..."
27,32,XGBoostPipeline,0.737500,False,"{'eta': 0.1496748671836832, 'min_child_weight'..."
28,12,XGBoostPipeline,0.732558,False,"{'eta': 0.5288949197529046, 'min_child_weight'..."
29,37,XGBoostPipeline,0.732558,False,"{'eta': 0.20415498720637298, 'min_child_weight..."
30,34,XGBoostPipeline,0.732558,False,"{'eta': 0.6531400357979378, 'min_child_weight'..."
31,24,XGBoostPipeline,0.732558,False,"{'eta': 0.7206326547259169, 'min_child_weight'..."
32,40,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 7.027765096692079, 'imp..."
33,48,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 5.0377530617224435, 'im..."
34,42,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 6.829252858832342, 'imp..."
35,39,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 9.567745781191459, 'imp..."
36,38,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 0.44486185482223584, 'i..."
37,0,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 8.444214828324364, 'imp..."
38,1,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 6.239401330891865, 'imp..."
39,23,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 5.824377722830321, 'imp..."
40,13,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 5.209570020716537, 'imp..."
41,11,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 8.702171711000782, 'imp..."
42,7,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 3.6887329830070748, 'im..."
43,6,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 8.362426847738403, 'imp..."
44,4,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 8.123565600467177, 'imp..."
45,3,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 0.5765626434012575, 'im..."
46,25,LogisticRegressionPipeline,0.703297,False,"{'penalty': 'l2', 'C': 1.0680169958060437, 'im..."
47,31,XGBoostPipeline,0.702381,False,"{'eta': 0.264555612104627, 'min_child_weight':..."
48,30,RFClassificationPipeline,0.516484,False,"{'n_estimators': 754, 'max_depth': 301, 'imput..."
49,26,RFClassificationPipeline,0.516484,False,"{'n_estimators': 766, 'max_depth': 313, 'imput..."

In [12]:
pipeline = clf.best_pipeline
pipeline.score(X_holdout, y_holdout)

0.8524590163934426